# Build output
dist/
snap/
.dotnet/
.build/
*.dmg
bin/
obj/
[Dd]ebug/
[Rr]elease/
x64/
x86/
[Ww][Ii][Nn]32/
[Aa][Rr][Mm]/
[Aa][Rr][Mm]64/
publish/
*.user

# Visual Studio / Rider
.vs/
.idea/
*.suo
*.userprefs
.vscode/

# NuGet
*.nupkg
packages/
*.nuget.props
*.nuget.targets

# OS
Thumbs.db
desktop.ini
.DS_Store
